
body{
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    flex-wrap: wrap; 
}
header img{
    width: 150px;
    height: auto;
}
#nombre{
    text-align: center;
}
.menu-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px 0;
    background-color: #444;
    width: 100%;
}

.menu-nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px;
    transition: background-color 0.3s ease-in;
}

.menu-nav a:hover{
    background-color: #ffffff;
    color: #000000;
}
main{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px;
}
main section{
    flex: 1;
    min-width: 300px;
}
article{
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}
article h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article h4 + div{
    text-align: right;
    font-weight: bold;
}
form{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 420px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.30rem;
    margin-bottom: 1rem;
}
label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #333;
}
input, textarea, select {
    padding: 0.6rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.95rem;
}

button[type="submit"] {
    width: 40%;
    margin: 0.5rem auto 0 auto;
    padding: 0.6rem 0.75rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
button[type="submit"]:hover {
    background-color: #008e24;
}
button[type="reset"] {
    width: 40%;
    margin: 0.5rem auto 0 auto;
    padding: 0.6rem 0.75rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
button[type="reset"]:hover {
    background-color: #b30000;
}

input:focus, textarea:focus, select:focus {
    border-color: #e100ff;
    outline: none;
    box-shadow: 0 0 3px rgba(255, 0, 162, 0.5);
}
input:valid, textarea:valid, select:valid {
    border-color: #28a745;
}
input:invalid, textarea:invalid, select:invalid {
    border-color: #dc3545;
}   